<% if current_user %>
  <h3>Welcome, <%= "#{current_user.name}" %></h3>

  <p><%= image_tag(current_user.image) %></p>

  <h3>Number of Starred Repositories:</h3>
  <%= @starred_repos.count %>

  <h3>Followers:</h3>
  <% @followers.each do |follower| %>
  <ul>
    <li><%= follower.name %></li>
  </ul>
  <% end %>

  <h3>Following:</h3>
  <% @following.each do |user| %>
  <ul>
    <li><%= user.name %></li>
  </ul>
  <% end %>

  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Sign in with GitHub", "/auth/github" %>
<% end %>
